.main {
  margin-top: 50px;
}

.ribbon {
  margin-top: 20px;
}

.fa.home-icon {
  font-size: 80px;
  line-height: 150px;
  color: #fff;
  width: 150px;
  height: 150px;
  background: #53A8FB; 
  -moz-border-radius: 90px; 
  -webkit-border-radius: 90px; 
  border-radius: 90px;
}

.fa.home-icon:hover {
  color: #fff;
  background: #29527B;
}

.icon-div {
  margin-bottom: 20px;
}

.extra-action {
  margin-top: 15px;
}

.form-error {
  color: red;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 12px;
}

.alert-danger {
  margin-top: 20px;
}

footer {
  padding: 20px;
}

/*table, th, td {
   border: 1px solid black;
}

th, td {
   padding: 5px 10px;
}
*/