.main {
  margin-top: 70px;
}

.extra-action {
  margin-top: 15px;
}

.form-error {
  color: red;
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 12px;
}

footer {
  padding: 20px;
}

/*table, th, td {
   border: 1px solid black;
}

th, td {
   padding: 5px 10px;
}
*/